* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#main-title {
    padding-top: 20px;
    padding-left: 60px;
    padding-right:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 20px;
    text-align: center;

}
p {
    font-size: 14px;
    text-align: center;
}
/* body {
  text-align: center;
} */
#main {
  display: block;
  background-color: aquamarine;
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
}
#survey-form {
    padding: 10px 0 20px 0;
}
.survey-div {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
